<div ng-controller="HowDoneCtrl">
  <div class="parent_pane">
    <div id="msg_history" class="child_pane text_pane">
      <!-- message 1 -->
      <div ng-if="msg1" class="in_msg">
        <div class="in_msg_img">
          <img src="../human.png" alt="sunil">
        </div>
        <div class="received_msg">
          <div class="received_withd_msg" ng-bind-html="msg1"></div>
        </div>
      </div>
      <!-- message 2 -->
      <div ng-if="msg2" class="in_msg">
        <div class="in_msg_img">
          <img src="../human.png" alt="sunil">
        </div>
        <div class="received_msg">
          <div class="received_withd_msg" ng-bind-html="msg2"></div>
        </div>
      </div>
    </div>
  </div>
</div>