<div ng-controller="HowToUseCtrl">
  <div class="parent_pane">
    <div id="msg_history" class="child_pane">
      <!-- message 1 -->
      <div ng-if="msg1" class="robot_msg">
        <div class="robot_msg_img">
          <img src="../human.png" alt="sunil">
        </div>
        <div class="received_msg">
          <div class="received_withd_msg" ng-bind-html="msg1"></div>
        </div>
      </div>
      <!-- message 2 -->
      <div ng-if="msg2" class="robot_msg">
        <div class="robot_msg_img">
          <img src="../human.png" alt="sunil">
        </div>
        <div class="received_msg">
          <div class="received_withd_msg" ng-bind-html="msg2"></div>
        </div>
      </div>
      <!-- win -->
      <div ng-if="msg3 && state === 'won'" class="robot_msg">
        <div class="robot_msg_img">
          <img src="../human.png" alt="sunil">
        </div>
        <div class="received_msg">
          <div class="received_withd_msg">
            <p>You are being right. Bravo!</p>
            <div ng-bind-html="msg3"></div>
          </div>
        </div>
      </div>
      <!-- lose -->
      <div ng-if="msg3 && state === 'lost'" class="robot_msg">
        <div class="robot_msg_img">
          <img src="../human.png" alt="sunil">
        </div>
        <div class="received_msg">
          <div class="received_withd_msg">
            <p>Naaan. Try again</p>
          </div>
        </div>
      </div>
    </div>
  <div class="type_msg">
    <div class="input_msg_write">
      <input id="input2" type="text" class="write_msg" placeholder="Type a message" ng-model="answer" ng-disabled="state === 'won' || !msg1" ng-keyup="$event.keyCode == 13 && answer ? answerQuestion() : null"/>
      <button class="msg_send_btn btn btn-success" type="button" ng-click="answerQuestion()" ng-disabled="!answer">
        Answer
      </button>
    </div>
  </div>
  </div>
</div>