<div ng-controller="IntroCtrl">
  <div class="parent_pane">
    <div id="msg_history" class="child_pane text_pane">
      <!-- intro 1 -->
      <div class="in_msg">
        <div class="in_msg_img">
          <img src="../human.png" alt="sunil">
        </div>
        <div class="received_msg">
          <div class="received_withd_msg" ng-bind-html="msg1"></div>
        </div>
      </div>
      <!-- robot -->
      <div ng-if="msg2" class="in_msg">
        <div class="in_msg_img">
          <img src="../bot.png" alt="sunil">
        </div>
        <div class="received_msg">
          <div class="received_withd_msg">
            Yeah! Ask me anything!
          </div>
        </div>
      </div>
      <!-- intro 2 -->
      <div ng-if="msg2" class="in_msg">
        <div class="in_msg_img">
          <img src="../human.png" alt="sunil">
        </div>
        <div class="received_msg">
          <div class="received_withd_msg" ng-bind-html="msg2"></div>
        </div>
      </div>
      <!-- video-->
      <div ng-if="video" class="in_msg">
        <div class="in_msg_img">
          <img src="../human.png" alt="sunil">
        </div>
        <div class="received_msg">
          <div class="received_withd_msg" ng-bind-html="video"></div>
        </div>
      </div>
    </div>
  </div>
</div>